
<div class="heading"><h1>CONTACT INFORMATION</h1></div>
<div class="container">
  <fieldset class="field">

  <label for="name">Name:</label>
  <input id="name" type="text" value="" placeholder="John Doe" name="name">




  <label for="email">Email:</label>
  <input id="email" type="email" value="" placeholder="johndoe@email.com" name="email">



  <label for="tel">Phone:</label>
  <input id="phone" type="tel" value="" placeholder="864-XXX-XXXX" name="phone">




  <label for="twitter">Twitter:</label>
  <input id="twitter" type="text" value="" placeholder="@johndoe" name="twitter">







    <input class="Info" type="submit" value="Create Contact">
  </fieldset>

</div>

<div class="container2"></div>
